body {
  background-color: black;
  color: #39ff14;
  font-family: 'Press Start 2P', monospace;
  width: 90%;
  margin: auto;
  padding: 0;
}

header {
  background-color: #111;
  padding: 10px;
  border-bottom: 2px solid #39ff14;
}

nav {
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  position: relative;
  margin: 0 15px;
}

.menu a {
  color: #39ff14;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.menu li:hover > ul {
  display: block;
}

.menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  border: 1px solid #39ff14;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  width: 200px;
}

.menu ul a {
  padding: 10px;
}

a:hover {
  background-color: #39ff14;
  color: black;
}

section {
  border: 2px solid #39ff14;
  padding: 15px;
  margin: 20px 0;
}

h1, h2 {
  text-align: center;
}

img {
  max-width: 100%;
  border: 2px solid #39ff14;
  margin: 10px auto;
  display: block;
}
